{% extends "base.html" %}
{% block title %} Parent Template {% endblock %}

{% block content %}

<ul>
  <li>
    <a href='hello/'>Hello</a>
  </li>
  <li>
    <a href='goodbye/'>Bye</a>
  </li>
  <li>
    <a href='time/'>Time</a>
  </li>
  <li>
    <a href='ages/'>MyFutureAge</a>
  </li>
</ul>

{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

</body>

</html>