<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<style>
  #bar {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
  }

  #bar li {
    font-weight: bold;
    padding: 10px;
  }

  #bar li:hover {

    color: rgb(36, 36, 36);
    background-color: #f1f1f1;
  }
</style>

<body>

  <ul id="bar">
    <li>Home</li>
    <li>Servicios</li>
    <li>Quienes Somos</li>
    <li>Contacto</li>
    <li>Acerca de</li>
  </ul>

</body>

</html>