<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<style>
  #bar {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
  }

  #bar li {
    font-weight: bold;
    padding: 10px;
  }

  #bar li:hover {

    color: rgb(36, 36, 36);
    background-color: #f1f1f1;
  }
</style>

<body>

  <ul id="bar">
    <li>
      <a href='/'>Index</a>
    </li>
    <li>
      <a href='/hello'>Hello</a>
    </li>
    <li>
      <a href='/goodbye'>Bye</a>
    </li>
    <li>
      <a href='/time'>Time</a>
    </li>
    <li>
      <a href='#' aria-disabled="true">MyFutureAge</a>
    </li>
  </ul>

</body>

</html>